@font-face {
	font-family: Questrial;
	src: url(../static/Questrial-Regular.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Questrial", serif;
	color: var(--black_jet);
	overflow-wrap: break-word;
	font-weight: 800;

	span {
		font-family: "Questrial", serif;
		background-color: var(--yellow);
		color: var(--black_dusty);
	}

	a {
		padding: 0 !important;
	}
}

h1 {
	font-size: 40px;
	line-height: 48px;
	margin: $spacing_five 0 $spacing_three 0;
	letter-spacing: 0.03em;
}

h2 {
	font-size: 28px;
	line-height: 36px;
	margin: $spacing_four 0 $spacing_two 0;
	letter-spacing: 0.02em;
}

h3 {
	font-size: 24px;
	line-height: 32px;
	margin: $spacing_three 0 $spacing_one 0;
	letter-spacing: 0.02em;
}

h4 {
	font-size: 20px;
	line-height: 28px;
	margin: $spacing_three 0 $spacing_one 0;
	letter-spacing: 0.02em;
}

p,
li {
	font-size: 16px;
	line-height: 28px;
	color: var(--black_jet);
	margin: $spacing_six 0;
	letter-spacing: 0.2px;

	&.top {
		font-family: "Montserrat", sans-serif;
		font-size: 18px;

		em {
			font-family: "Montserrat", sans-serif;
		}
	}
}

a {
	position: relative;
	font-size: 16px;
	line-height: 28px;
	color: var(--black_dusty);
	padding: 16px 0;

	&:hover {
		color: var(--orange);
		text-decoration: underline;
	}
}

@media (min-width: $breakpoint-md) {
	h1 {
		font-size: 60px;
		line-height: 72px;
		margin: $spacing_six 0 $spacing_four 0;
		letter-spacing: 0.04em;
		max-width: $breakpoint-sm;
	}

	h2 {
		font-size: 36px;
		line-height: 44px;
		margin: $spacing_five 0 $spacing_three 0;
		letter-spacing: 0.03em;
	}

	p,
	li {
		font-size: 20px;
		line-height: 32px;
		color: var(--black_jet);
		margin: $spacing_six 0;
		letter-spacing: 0.2px;

		&.top {
			font-family: "Montserrat", sans-serif;
			font-size: 18px;

			em {
				font-family: "Montserrat", sans-serif;
			}
		}
	}

	a {
		position: relative;
		font-size: 20px;
		line-height: 32px;
		color: var(--black_dusty);
		padding: 16px 0;

		&:hover {
			color: var(--orange);
			text-decoration: underline;
		}
	}
}
