---
title: Holistic hound and other animals | Shop
description: Holistic hound shop.
layout: layouts/base.njk
pagination:
  data: collections.post
  size: 2
  alias: posts
  reverse: true
---
<section class="bg">
	<div class="grid md">
		<div class="details">
			<h1>Shop</h1>
		</div>
	</div>
</section>
{% include "posts-latest.njk" %}
