---
title: Holistic hound and other animals | Contact
description: Contact information.
layout: layouts/base.njk
pagination:
  data: collections.post
  size: 2
  alias: posts
  reverse: true
---
<section class="bg">
	<div class="grid md">
		<div class="details">
			<h1>Contact</h1>
			<p>We are based in the North West, in Lancashire, but are more than willing to travel outside of the county.   Please feel free to get in touch with us as we may be able to accommodate you, even if you feel it may be too far.</p>
			<p>Holistic Hound and other animals, BB3.</p>
			<h2>Contact options</h2>
			<p>Mobile: 07910 155552</p>
			<p><a href="https://wa.me/+447910155552?text=Hello%20I'm%20interested%20in%20your%20services">Message me on WhatsApp</a></p>
			<p>Drop me an email: <a href-"href="mailto:holistichoundaoa@gmail.com">holistichoundaoa@gmail.com</a></p>
		</div>
	</div>
</section>
{% include "posts-latest.njk" %}
