<footer>
	<div class="footers-contact">
		<div class="footers-inner">
			<p>Offering a range of Holistic options for your animals.<br>All our sessions move at your animal's own pace - with empathy, kindness and respect for your animal.<br> <a href="mailto:gwbotanicals4animals@gmail.com">Get in touch</a>.</p>
		</div>
	</div>
	<div class="footers-top">
		<div class="footers-inner">
			<div class="logo">
				<a href="/"><img src="/static/images/gwbfa.jpeg" alt="gwbotanicals4animals logo"  style="height: 100px;"></a>
			</div>
			<div class="links">
				<ul>
					<li class="a-h">Pages</li>
					<li><a href="/" title="gwbotanicals4animals homepage">Home</a></li>
					<li><a href="/about/" title="About us">About</a></li>
					<li><a href="/pricing/" title="Prices">Pricing</a></li>
					<li><a href="/contact/" title="Contact us">Contact</a></li>
				</ul>
			</div>
			<div class="links">
				<ul>
					<li class="a-h">Services</li>
					<li><a href="/services/self-selection" title="Self-selection (Zoopharmacognosy)">Self-selection (Zoopharmacognosy)</a></li>
					<li><a href="/services/bach-flower-remedies" title="Bach® Flower Remedies">Bach® Flower Remedies</a></li>
					<li><a href="/services/reiki-energy-healing" title="Reiki (Energy Healing)">Reiki (Energy Healing)</a></li>
					<li><a href="/services/enrichment" title="Enrichment">Enrichment</a></li>
					<li><a href="/services/sensory-gardens" title="Sensory Gardens">Sensory Gardens</a></li>
					<li><a href="/services/wildlife-gardens" title="Wildlife Gardens">Wildlife Gardens</a></li>
				</ul>
			</div>
			<div>
				<a class="soc-svg" href="https://www.instagram.com/gwbotanicals4animals/" title="gwbotanicals4animals Instagram">
				<svg fill="currentColor" viewBox="0 0 30 30" width="30px" height="30px" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<g><path d="M22.3,8.4c-0.8,0-1.4,0.6-1.4,1.4c0,0.8,0.6,1.4,1.4,1.4c0.8,0,1.4-0.6,1.4-1.4C23.7,9,23.1,8.4,22.3,8.4z"/><path d="M16,10.2c-3.3,0-5.9,2.7-5.9,5.9s2.7,5.9,5.9,5.9s5.9-2.7,5.9-5.9S19.3,10.2,16,10.2z M16,19.9c-2.1,0-3.8-1.7-3.8-3.8   c0-2.1,1.7-3.8,3.8-3.8c2.1,0,3.8,1.7,3.8,3.8C19.8,18.2,18.1,19.9,16,19.9z"/><path d="M20.8,4h-9.5C7.2,4,4,7.2,4,11.2v9.5c0,4,3.2,7.2,7.2,7.2h9.5c4,0,7.2-3.2,7.2-7.2v-9.5C28,7.2,24.8,4,20.8,4z M25.7,20.8   c0,2.7-2.2,5-5,5h-9.5c-2.7,0-5-2.2-5-5v-9.5c0-2.7,2.2-5,5-5h9.5c2.7,0,5,2.2,5,5V20.8z"/></g>
				</svg>				
				</a>
				<a class="soc-svg" href="https://www.facebook.com/GWbotanicals4animals/" title="gwbotanicals4animals linkedin">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="currentColor"><path xmlns="http://www.w3.org/2000/svg" d="M12 2C6.477 2 2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.879V14.89h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.989C18.343 21.129 22 16.99 22 12c0-5.523-4.477-10-10-10z"/></svg>			
				</a>
			</div>
		</div>
	</div>
	<div class="footers-bottom">
		<div class="footers-inner">
			<a href="https://civtedu.org/" title="College of Integrative Veterinary Therapies"><img src="/static/images/CIVT-logo.png" alt="College of Integrative Veterinary Therapies logo"  style="height: 100px;"></a>			
			<a href="https://www.yorkshirepooches.co.uk/canine-pain-warriors" title="Canine Pain Warriors"><img src="/static/images/CPT-logo.png" alt="Canine Pain Warriors logo"  style="height: 100px;"></a>
		</div>
		<div class="footers-inner">
			<p>&copy; GW Botanicals for Animals, North West, Lancashire.</p>
		</div>
	</div>
</footer>
