<a href="#main" class="access-skip" tabindex="1">Skip to main content</a>
<header class="nav-out" aria-label="Main Navigation">
	<div class="nav">
		<a href="/">
			<img src="/static/images/hhaoa.png" alt="holistic hound logo"  style="height: 44px;">
		</a>
		<nav>
			<ul class="nav-links">
				<li><a title="Holistic hound and other animals - Home"
				{% if page.url == "/" %}
					aria-current="page"
				{% endif %}
				href="/">Home</a></li>
				<li><a title="About"
				{% if page.url == "/about/" %}
					aria-current="page"
				{% endif %}
				href="/about/">About</a></li>
				<li><a title="Prices and session information"
				{% if page.url == "/pricing/" %}
					aria-current="page"
				{% endif %}
				href="/pricing/">Pricing</a></li>
				<li><a title="Contact information"
				{% if page.url == "/contact/" %}
					aria-current="page"
				{% endif %}
				href="/contact/">Contact</a></li>
			</ul>
		</nav>
		<div class="social">
			<a title="Contact us" href="mailto:holistichoundaoa@gmail.com">
				Get in touch
			</a>
		</div>
	</div>
</header>
