<section class="bg">
	<div class="grid">
		<h1>More services</h1>
		<div class="row blog-card archives">
			{% for post in rposts %}
				<article class="cards archive">
					<a href="/posts/{{ post.data.name }}" title="{{ post.data.title }}">
						<div class="card-img">
							<img src="{{ post.data.image }}">
						</div>
						<div class="card-txt">
							<div class="main-txt">
								<h3><span>{{ post.data.title }}</span></h3>
							</div>
						</div>
					</a>
				</article>
			{% endfor %}
		</div>
	</div>
</section>
