<section>
	<div class="grid">
		<h2>Testimonials</h2>
		<div class="row blog-card referrals">
			<div class="referral">
				<h3>Our Etsy reviews</h3>
				<p>"My cat couldn't get enough of it, he loves it 😻” (Catnip plant)</p>
				<p>"Lovely little bags, they created alot of interest and excitement for our dogs” (Herbal scent bags for dogs)</p>
				<p>"My cat loves these so much I can’t tell you. Who knew cats loved aromatherapy as much as humans?” (Herbal bags for cats)</p>
			</div>
			<div class="referral">
				<h3>Amazing!</h3>
				<p>"Amazing!!! Can't say enough...was great to see my stressy mare relax before my eyes... Gina was really good at explaining what she was doing and why, and getting me involved with her therapy ... will defo be having her back soon." - JS</p>
			</div>
			<div class="referral">
				<h3>Definitely worth contacting</h3>
				<p>"Gina was a great help during a recent move, with three cats I was aware they may become stressed especially one that tend to spray when upset. The advice and herbs worked a treat, not one incident and three very relaxed cats. If you need help or advice definitely worth contacting." - DT</p>
			</div>
		</div>
		<div class="row blog-card referrals-two">
			<div class="referral">
				<h3>I rate the session 5 stars</h3>
				<p>"Many thanks for the session with me and Rosie, we really enjoyed it and feel like we learned a lot.  I rate the session 5 stars.  I found the session useful and it met my expectations.  I was impressed with your knowledge and the amount of oils, fresh herbs and powders you brought with you.  This was useful so Rosie could choose whether she preferred fresh or powdered herbs, and she got to try the essential oils also.  I was really pleased with the relaxed state Rosie showed towards the end of the session after the chamomile, especially after her behaviour in the beginning of the session.  I was very grateful for your relaxed nature while Rosie was distracted." - EH</p>
			</div>
			<div class="referral">
				<h3>Excellent value for money</h3>
				<p>"Rated 5*. I found the session really interesting and informative. I loved the wide range offered, and the variety of freshly picked plants, powders and oils. It was very useful to gain an indication of what nutrients my horse might be lacking, and to learn of natural sources that could supplement her diet, especially several I didn't previously know about. Even if I hadn't benefited from the special offer I would have thought it excellent value for money. The obvious preparation time spent testing with the different herbs, and the samples provided of those my horse preferred was much more than I expected." - SA</p>
			</div>
		</div>
	</div>
</section>
