---
title: Holistic hound and other animals | About me.
description: About me.
layout: layouts/base.njk
pagination:
  data: collections.post
  size: 2
  alias: posts
  reverse: true
---
<section class="bg">
	<div class="grid md">
		<div class="details">
			<h1>About</h1>
			<p>Looking back, animals have been an integral part of my life; from the Guinea pig, budgerigar, Syrian hamsters and cats we had in our childhood; to the cockatiel, gerbil, dwarf hamsters and cats in my younger, and recent years. They each taught me so much and feel blessed to have had a connection with each and every one of them. I have fostered hedgehogs over the winter months, and am currently guardian to a rescue dog (Tigger).</p>
			<p>My first real connection with horses was from around the age of nine when I learnt to ride.  I enjoyed jumping and learning about horse care; including preparation for competition. My relationship with horses continued after we moved counties and was able to continue riding while helping out at a local stables. It has been wonderful to reconnect with these beautiful souls through working with them.</p>
			<p>As teenagers my sister and I helped out on a local farm where we would regularly encounter its animal residents, as well looking after rabbits when their owners went on holiday and walking an elderly lady's dog who lived in the village.</p>
			<p>Prior to adopting our lovely dog I embarked upon my spiritual path, with a particular interest in healing, which led to energy healing and Reiki. I have always had a positive outlook and bring both calmness and positivity to the sessions. Meditation and my connection with nature allows me to maintain this calmness, inner peace and balance.</p>
			<p>Complementary therapy, which included homeopathic and herbal remedies, was an integral part of my upbringing, as well as being in a household that grew a wide range of plants  and foods.  However, I do enjoy exploring the scientific aspect and researching things in depth, and liaising with experts.  This approach  gave me a better understanding of  Tigger's issues (lead aggression, separation anxiety, nervousness and anxiousness) and along with holistic sessions, consistency, empathy, kindness and patience, have transformed him into a happy, more confident and relaxed dog.</p>
			<p>Being within the healthcare sector and laboratory setting for over 30 years  allows me to draw upon knowledge gained throughout this time regarding health issues.</p>
			<p>Throughout my life helping animals and wildlife has always been a passion, and as a youngster was an RSPB Young Ornithologist, all of which were my motivation to embark on my training.</p>
			<img class="case-img " src="/static/images/about/square-1.webp" alt="image grid of gina mott"  style="height: auto;">
		</div>
	</div>
</section>
<section class="bg">
	<div class="grid md">
		<div class="details">
			<h2>My code of conduct:</h2>
			<ul>
				<li>I will not diagnose and am aware of my own professional limitations.</li>
				<li>I will only arrange to see an animal whose illness or ailment has been first diagnosed or reviewed by a vet.</li>
				<li>I will work with respect and in partnership with both the animal and their guardian.</li>
    			<li>I will respect the confidentiality of both the animal and their guardian.</li>
			</ul>
			<p>I am fully insured for all services offered, and am committed to ongoing CPD to ensure am aware of any changes/updates, and to further my knowledge.</p>
			<img class="case-img " src="/static/images/about/square-2.webp" alt="image grid of gina mott"  style="height: auto;">
		</div>
	</div>
</section>
<section class="bg">
	<div class="grid md">
		<div class="details">
			<h2>Courses and CPD Sessions</h2>
			<h3>Animal Courses & CPD</h3>
			<ul>
				<li>Holistic Canine Care Course - Physical, Social and Psychological Needs of the Dog - Myerscough College (Ann De-Rizzio)</li>
				<li>Animal Communication Workshop (with animals in attendance) - Pea Horsley (Leeds)</li>
				<li>Equine, Feline and Canine Behavioural Assessments - Rose Holistic Therapies and Training</li>
				<li>Introduction to Equine Behaviour Workshop - Equine Body Language - Stephanie Loveridge, Equine Kind (Home Farm Holistic Livery)</li>
				<li>Wolves the Dog Ancestors - Learning Animals Nature  Dog Human - Marco Adda, Udemy (On-line course)</li>
				<li>Understanding  Stress in Dogs for Therapists - Elaine Stavert, Animal Therapy Works (Distance Learning)</li>
				<li>5 Element Theory for Animal Well-being - Nayana Morag, Essential Animals (Distance Learning)</li>
				<li>Headshaking in Horses (Trigeminal-mediated Headshaking)- Veronica Roberts, University of Bristol via BHS - North (Webinar)</li>
				<li>Sleep Disorder in Horses - A review of over 400 cases - Dr Joe Bertone, Equine Behaviour & Training Association (EBTA) (Webinar)</li>
				<li>Messages of Trust - James French, Trust Technique (On-line course)</li>
			</ul>
			<h3>Herbal/Aromatherapy/Flower Essences/Bach® Flower Remedy Courses & CPD</h3>
			<ul>
				<li>Applied Herbal Choices for Animals Consultant Training (including completion of 7 initial and follow-up case study sessions (cat/dog/horse)) – Rose Holistic Therapies and Training (Oxfordshire) </li>
				<li>Forage days (Spring, Summer and Autumn) including preparation of herbal teas, hydrosols, salves and macerates, and berry leather  - Rose Holistic Therapies and Training (Oxfordshire) </li>
				<li>How essential oils work in the body - Robert Tisserand, Tisserand Institute (On-line course) </li>
				<li>Aromatherapy Study Day, Rediscovering aromatic plants and their essential oils - Dr Vivienne Anthony (Kew Gardens, London)</li>
				<li>Essential Oils for Animals - An Introduction - Nayana Morag, Essential Animals (Distance Learning) </li>
				<li>Herbalism: Growing Medicinal plants/Herbalism: Identify and Harvest  Wild Medicinal plants  - Elizabeth Heck, Udemy (On-line course)</li>
				<li>Northern Root Medicine - Angelica Workshop (including preparation of herbal glycerite) - Edwina Hodkinson (Bolton)</li>
				<li>Fire in the Belly - Medicine for the Digestive System Workshop (including preparation of live sauerkraut and kefir) - Edwina Hodkinson (Bury)</li>
				<li>Essential Oils for Emotional Health & Wellbeing - Eileen Doody, Holistic Wellbeing</li>
				<li>May Day Wild Medicine Walk - Edwina Hodkinson (Moses Gate Country Park, Bolton)</li>
				<li>Canine Self Medication: Working with Past Trauma and Rescue Dogs - Caroline Ingraham (Webinar)</li>
				<li>Inflammation & Pain - Herbal Treatment - Victoria Ferguson (Equine Herbalist) & Damien Munroe (Equine Nutritionist) (Webinar)</li>
				<li>Bach® Flower Remedy Animal Counsellor - Ross Simpson, Natural Animal Centre (Tutor supported distance Learning with Final Assessment & Case studies)</li>
				<li>Canine Energetics - Rita Hogan, Canine Herbalist (Distance Learning)</li>
			</ul>
			<h3>Reiki/Energy Healing Courses & CPD</h3>
			<ul>
				<li>Animal Magic Reiki© Diploma Training (Level 1 and 2) (including completion of 10 initial and follow-up case study sessions (cat/dog/horse))- Niki Senior, Animal Magic Training (Norfolk)</li>
				<li>Energy Healing for Horses - Debbie Bell, Udemy (Distance Learning)</li>
				<li>Cat Chakra Workshop - Julie-Ann Thorne, Naturally Cats (Webinar)</li>
			</ul>
			<h3>Nature/Wildlife Courses & CPD</h3>
			<ul>
				<li>Hedge Laying Course - Staffordshire Moorlands District Council (Ladderedge Country Park, Leek)</li>
				<li>Virtual Tree Identification Walk & Interactive Talk (Peel Park) - Peel Park Keeper & David Winnard, Discover the Wild (Webinar)</li>
				<li>Wildlife Gardening: Ponds ,Wildflowers, Birds/Planting for Pollinators - Anna Williams, North Wales Wildlife Trust (Webinars)</li>
				<li>Common birds & How to attract them to your garden - Stuart Collier, Conservation Chat UK Ltd (Webinar)</li>
				<li>Improving pasture biodiversity - Mathew Dodds via Animal Botanical (Webinar)</li>
			</ul>
			<h3>Microbiome Courses & CPD</h3>
			<ul>
				<li>Study Day - Research & Practical Herbal Knowledge to Support the Microbiome in Animals - Dr Michael, Equibiome (Oxfordshire)</li>
				<li>Gut Brain Microbiota Axis Seminar - Kate Osbourne, Genova Diagnostics (Association of Naturopathic Practitioners, Manchester)</li>
				<li>Gut-brain axis communication: How diet may influence our horses' behaviour - Dr Louise Bulmer, SRUC via BHS (Webinar)</li>
				<li>The gastrointestinal microbiome and its effects (dogs) - Felicity Caddick (Webinar)</li>
				<li>The importance of a healthy gut microbiome in horses - Valerie De Clerck, CURAFYT (Webinar) </li>
				<li>Herbal Management for gut flora dysbiosis - Rachael Maxwell, Animal Botanical (Webinar)</li>
				<li>Equine Gut Health - Robyn Hood via Tellington TTouch Online Learning (Webinar)</li>
				<li>Getting to the guts of dog behaviour - Dr Amber Batson, Understand Animals (Webinar)</li>
			</ul>
			<h3>Enrichment Courses & CPD</h3>
			<ul>
				<li>Scentwork Solutions for Abnormal & Repetitive Behaviours, Fears and Phobias - Morag Heirs, Association of Pet Behaviour Counsellors (Webinar)</li>
				<li>Everyday Enrichment (Canine) - The Dog Nose, Kirsty Grant (Webinar)</li>
				<li>Canine Enrichment - Sarah Groom , SCDT (Sussex County Dog Training) (On-line course)</li>
				<li>Canine Enriched Environments for Fun, Socialisation & Rehabilitation - The Dog Nose, Kirsty Grant (Distance Learning)</li>
				<li>Nosework for Cats: An Introduction - Hanna Fushihara via Grisha Stewart Academy (Webinar)</li>
			</ul>
			<h3>First Aid Courses</h3>
			<ul>
				<li>First Aid for Cats and Dogs - Denise Chapman (Myerscough College)</li>
				<li>Canine First Aid - Paw and Pad Injuries - Rachel Bean RVN's School (Distance Learning)</li>
			</ul>
			<h3>Dog Parkour</h3>
			<ul>
				<li>Dog Parkour UK Instructor Course - Dog Parkour UK - Module assessments &amp; submission of 5 training videos (Distance Learning)</li>		
			</ul>		
		</div>
	</div>
</section>
<section class="bg">
	<div class="grid md">
		<div class="details">
			<h1>Reach out</h1>
			<p>If you would like any more information <a href="#">get in touch</a>.</p>
		</div>
	</div>
</section>
{% include "posts-latest.njk" %}
