---
title: Holistic hound and other animals | Pricing
description: Prices and session information.
layout: layouts/base.njk
pagination:
  data: collections.post
  size: 2
  alias: posts
  reverse: true
---
<section class="bg">
	<div class="grid md">
		<div class="details">
			<h1>Session pricing</h1>
			<p><strong>Mileage up to a 20 mile radius from my base is included in all session prices. If located over 20 miles from my base please add 30p per additional mile to the prices listed above. This is charged for return journey only. Please use Google Maps to calculate, but contact me if you have any questions regarding this.</strong></p>
		</div>
		<div class="details">	
			<h2>Self-selection (Zoopharmacognosy):</h2>
			<ul><li>Cat session - £30.00</li><li>Dog session  - £40.00</li><li>Horse session - £45.00</li></ul>
			<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfPtGFTjw3sMIDt8PDQWafJGqct56lcLkhwk7YZ__0xPBNkRA/viewform">Herbal Self-Selection Consultation - for completion prior to a session</a>.</p>
			<p><a href="/services/self-selection">Read more about Self-selection (Zoopharmacognosy)</a>.</p>
		</div>
		<div class="details">
			<h2>Bach® Flower Remedies:</h2>
			<p>Animal session - £25.00</p>
			<p><a href="https://docs.google.com/forms/d/e/1FAIpQLScPVpjjkPhLHCe9rczJUpoXZE4wWQiod0EMNBXUvg4ClUPv5Q/viewform">Bach® Flower Remedies consultation Form session form - for completion prior to a session</a>.</p>
			<p><a href="/services/bach-flower-remedies">Read more about Bach® Flower Remedies</a>.</p>
		</div>
		<div class="details">
			<h2>Reiki (Energy Healing):</h2>
			<p>Animal session - £20.00</p>
			<p><a href="https://docs.google.com/forms/d/e/1FAIpQLSciLS16DkBjmNd6DiIs9b3iR6-vsxsW27JxiCsxDYKeToTYeQ/viewform">Reiki session form - for completion prior to a session</a>.</p>
			<p><a href="/services/reiki">Read more about Reiki</a>.</p>
		</div>
		<div class="details">
			<h2>Registered charity/Rescue centre</h2>
			<p>Free: Sessions are offered free for registered charities, rescue centres or similar organisations.</p>
		</div>	
		<div class="details">
			<h2>Payment Options</h2>
			<p>Payment can be made: via Paypal, bank transfer, credit/debit card at the session, by cash at the session</p>
			<p>Our Privacy Policy in line with General Data Protection Regulations (GDPR).</p>
			<p>Personal data collected by us will include your name and address, and data relating to the health and history of your animal, as well as any changes that may occur to their health, well-being or performance. You may have access to your data and have the right to request this to be erased. Information will only be shared with the animal's vet or other professionals as requested by you and the animal's vet. Your data will be securely stored for up to 7 years, and will only be used by us for communication with yourself.  Should you have a complaint, you have the right to request contact details in order to lodge this.</p>	
		</div>
	</div>
</section>
{% include "posts-latest.njk" %}
