---
title: Holistic hound and other animals | Pricing
description: Prices and session information.
layout: layouts/base.njk
pagination:
  data: collections.post
  size: 2
  alias: posts
  reverse: true
---
<section class="bg">
	<div class="grid md">
		<div class="details">
			<h1>Resources</h1>
			<ul>
				<li>-   Just my Type : _Simon Garfield_</li>
				<li>-   Scratching the Surface : _Adrian Shaughnessy_</li>
				<li>-   VIVID! The Allure of Color in Design : _Sandu Publishing_</li>
				<li>-   Nudge : _Thaler & Sunstein_</li>
				<li>-   Eating the Big Fish : _Adam Morgan_</li>
				<li>-   Steal Like An Artist: 10 Things Nobody Told You About Being Creative : _Austin Kleon_</li>
				<li>-   GET AGILE! Scrum for UX, deign and development : _Pieter Jongerius & Anton Vanhoucke_</li>
				<li>-   KNOW YOUR ONIONS / GRAPHIC DESIGN : _Drew de soto_</li>
				<li>-   THE POCKET UNIVERSAL METHODS OF DESIGN : _Bella Martin & Bruce Hanington_</li>
				<li>-   BANKING ON IT : _Anne Boden_</li>
			</ul>
		</div>
	</div>
</section>
{% include "posts-latest.njk" %}
