<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="HTML,CSS,XML,JavaScript">
		<meta name="author" content="Gina Mott">
		<title>{{ title }}</title>
		<meta name="description" content="{{ description }}">
		<link rel="stylesheet" href="/css/all.css">
		<link rel="icon" href="/static/images/nav/icon.svg">
	</head>
	<body id="default" class="inner">
		{% include "nav.njk" %}
		<main>
			{{ content | safe }}
		</main>
		{% include "footer.njk" %}
	</body>
	{% if (js) %}
		<script src='/js/{{ js }}.js'></script>
	{% endif %}
</html>
